.projects {
  margin-top: 20px;
}

.projects__title {
  font-size: 18px;
  color: #000080;
  margin-bottom: 10px;
}

.projects__table {
  width: 100%;
  border-collapse: collapse;
}

.projects__cell {
  padding: 10px 0;
  border-bottom: 1px solid #CCCCCC;
}
