.tester {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

ul > li {
  margin-left: 30px;
}

.entry {
  padding: 10px;
  list-style-type: circle;
}

/* @media (max-width: 600px) {
  .tester .about {
    align-items: flex-start;
    margin-top: 2em;
  }
} */