.about2 {
  flex-direction: column;
  margin-top: 3em;
}

.center2 {
  display: flex;
  align-items: center;
}

.about__pizza {
  font-size: 1rem;
  max-width: 600px;
}

.tester {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

ul > li {
  margin-left: 30px;
}

.entry {
  padding: 10px;
  list-style-type: circle;
}

@media (max-width: 600px) {
  .about2 {
    align-items: flex-start;
    margin-top: 2em;
  }
}

/* @media (max-width: 600px) {
  .tester .about {
    align-items: flex-start;
    margin-top: 2em;
  }
} */