.skills {
  margin-top: 20px;
}

.skills__title {
  font-size: 18px;
  color: #000080;
  margin-bottom: 10px;
}

.skills__container {
  display: table;
  width: 100%;
}

.skills__list {
  display: table-cell;
  width: 50%;
  list-style-type: disc;
  padding-left: 20px;
}

.skills__item {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .skills__container {
    display: block;
  }
  
  .skills__list {
    display: block;
    width: 100%;
  }
}